Monsters/.vs/Monsters/v14/.suo
Monsters/Monsters/bin/Debug/Monsters.pdb
Monsters/Monsters/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Monsters/Monsters/obj/Debug/Monsters.csproj.GenerateResource.Cache
Monsters/Monsters/obj/Debug/Monsters.pdb